.no-posts {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}

.post {
  max-width: 100% !important;
}

.post-form {
  padding: 3%;
  border-bottom: lightgray solid 1px;
  width: 100%;
}

.loading-spinner {
  padding: 3%;
}
