.header {
  display: grid;
  min-height: 10vh;
  grid-template-columns: 50% 50%;
}

.name {
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.auth-content {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10% 0 10%;
  font-size: 0.85rem;
}
